@(message: String)(userForm: Form[models.User])

@import helper._
@import helper.twitterBootstrap._

@main(message) {

	@adminNavbar("nav4")
	<div class="form-sub">
    @helper.form(action = routes.Admin.saveU) {
    <fieldset>
		<legend>@message</legend>
		@inputText(
			userForm("login_id"),
			'_label -> "登录名",
			'_help -> "请输入登录名"
			
		)
		@inputPassword(
			userForm("passwd"),
			'_label -> "密码",
			'_help -> "请输入密码"
		)
		@inputText(
			userForm("name"),			
			'_label -> "姓名",
			'_help -> "请填写真实姓名"
		)
		@select(
			userForm("authority"),
			options = options(List("普通用户", "管理员")),
			'_label -> "权限",
			'_help -> "请选择权限"
		)
		@inputText(
			userForm("balance"),
			'_label -> "金额",
			'_help -> "请输入金额"
		)
	</fieldset>
	<div class="actions">
		<input type="submit" value="添加" class="btn btn-primary" />
	</div>
	}   
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#login_id').focus()
		})
	</script>
}
